* {
  box-sizing: border-box;
}

body {
  background: #8e2de2; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #4a00e0,
    #8e2de2
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #4a00e0,
    #8e2de2
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.modal {
  text-align: center;
  border: 0;
  min-width: 60ch;
  min-height: 50ch;
  background: #4b6cb7; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #182848,
    #4b6cb7
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #182848,
    #4b6cb7
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

form {
  font-size: 1.5rem;
  padding: 2rem;
}

form input {
  height: 2rem;
  font-size: 1.5;
}

.close-modal {
  width: 4rem;
  height: 3rem;
  font-size: 2rem;
  background-color: #000000;
  color: #b5c0d0;
  border: none;
  border-radius: 5px;
}

.submit-btn {
  background-color: #000000;
  color: #b5c0d0;
  width: 6rem;
  height: 3rem;
  border-radius: 9px;
  border: none;
}

.new-book-btn {
  width: 7rem;
  background-color: #000000;
  height: 4rem;
  color: #4b6cb7;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-left: 49%;
}
